/* ========== Tailwind Base ========== */
@import 'tailwindcss';



/* ========== Theme Colors ========== */
@theme {
  --color-primary: var(--c-primary);
  --color-primary-dark: var(--c-primary-dark);
  --color-secondary: var(--c-secondary);
  --color-background: var(--c-background);
  --color-background-dark: var(--c-background-dark);
  --color-text: var(--c-text);
  --color-text-dark: var(--c-text-dark);
  --color-card: var(--c-card);
  --color-card-dark: var(--c-card-dark);
  --color-background-card: var(--c-background-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-prospective: var(--c-prospective);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
  --color-elevated: var(--c-elevated);
  --color-overlay: var(--c-overlay);
}

/* ========== Ant Design Overrides ========== */
/* Select */
:where(.header-select).ant-select .ant-select-selector {
  background: var(--c-background-dark) !important;
}

/* Button used as Dropdown trigger */
:where(.header-select).ant-btn {
  background: var(--c-background-dark) !important;
}

/* Popup: Select & Dropdown */
:where(.header-select-dropdown).ant-select-dropdown,
:where(.header-select-dropdown).ant-dropdown,
:where(.header-select-dropdown) .ant-dropdown-menu {
  background: var(--c-background-dark) !important;
}

:where(.header-select-dropdown) .ant-dropdown-menu-item:hover {
  background: var(--c-background) !important;
}

.ant-dropdown-menu {
  background-color: var(--color-card) !important;
}

/* ========== General Rules ========== */
a,
a:hover {
  color: inherit;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-dark);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* ========== Container System  ========== */
:root {
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;

  --container-padding: 1rem;
}

.container-c,
.container-c-sm,
.container-c-md,
.container-c-lg,
.container-c-xl,
.container-c-xxl,
.container-c-fluid {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

/* Fluid = always full width */
.container-c-fluid {
  max-width: none;
}

/* Default container */
.container-c {
  max-width: 100%;
}

@media (min-width: 576px) {
  .container-c {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-c {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-c {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-c {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-c {
    max-width: 1320px;
  }
}

/* Sized containers */
.container-c-sm {
  max-width: 100%;
}

@media (min-width: 576px) {
  .container-c-sm {
    max-width: 540px;
  }
}

.container-c-md {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container-c-md {
    max-width: 720px;
  }
}

.container-c-lg {
  max-width: 100%;
}

@media (min-width: 992px) {
  .container-c-lg {
    max-width: 960px;
  }
}

.container-c-xl {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container-c-xl {
    max-width: 1140px;
  }
}

.container-c-xxl {
  max-width: 100%;
}

@media (min-width: 1400px) {
  .container-c-xxl {
    max-width: 1320px;
  }
}

/* Responsive padding tweaks */
@media (max-width: 575.98px) {
  :root {
    --container-padding: 0.75rem;
  }
}

@media (min-width: 992px) {
  :root {
    --container-padding: 1.25rem;
  }
}

.ant-menu-item {
  border: 1px solid var(--c-border) !important;
  /* height: 36px !important; */
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  margin-inline: 0px !important;
  margin-block-end: 6px !important;
}

.ant-menu-item:hover {
  border: 1px solid var(--c-primary) !important;
}

.ant-menu-item-icon {
  font-size: 24px !important;
}

.table-organization .ant-table-thead>tr>th {
  background-color: transparent;
}

.table-organization .ant-table-column-title {
  flex: none !important;
}

.table-organization .ant-table-title {
  padding: 0 !important;
}

.table-organization .ant-table-column-sorters {
  justify-content: start;
}

.table-organization th:not([aria-label='Organization']):not([aria-label='Owner']) .ant-table-column-sorters {
  justify-content: center;
}

.table-organization .even-row>td {
  background-color: var(--c-background);
  padding: 16px 24px;
}

.table-organization .odd-row>td {
  background-color: var(--c-card);
  padding: 16px 24px;
}

.table-organization .ant-table-row-selected {
  background-color: color-mix(in srgb,
      var(--color-primary) 15%,
      transparent) !important;
}

.table-organization .ant-checkbox-inner {
  border-radius: 4px;
  border: 2px color-mix(in srgb, var(--color-text) 30%, transparent) solid;
  width: 15px;
  height: 15px;
}

.table-organization .ant-table-cell.ant-table-selection-column {
  padding-inline-end: 53px;
  padding-inline-start: 19px;
}

.table-organization .ant-pagination.ant-table-pagination.ant-table-pagination-center {
  align-items: center;
}

.table-organization .ant-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.table-organization .ant-pagination-options {
  display: none;
}

.table-organization .ant-pagination-item.ant-pagination-item-active {
  border-color: transparent;
  background-color: color-mix(in srgb, var(--color-primary) 15%, transparent);
}

.table-organization .ant-pagination.ant-table-pagination>li {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.table-organization .ant-pagination .ant-pagination-item-link {
  border-radius: 50%;
  padding: 0;
}

.drawer-steps .ant-steps-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.drawer-steps.ant-steps {
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.drawer-steps .ant-steps-item {
  flex: none;
  padding: 0 !important;
}

/* :where(.css-dev-only-do-not-override-aosh97).ant-drawer .ant-drawer-body {
  overflow: visible;
} */

.drawer-steps .ant-steps-item-container .ant-steps-item-icon {
  margin: 0;
  border-radius: 12px !important;
  padding: 15px 16px;
  background-color: var(--color-card) !important;
  border: 1px solid transparent !important;
}

.drawer-steps .ant-steps-item-title {
  margin-top: 8px;
  font-size: 12px;
  line-height: 160%;
  font-weight: bold;
}

.drawer-steps .ant-steps-item-title::after {
  width: 0;
}

.drawer-steps .ant-steps-item-title {
  padding: 0 !important;
}

.drawer-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--color-card) !important;
  border: 1px solid color-mix(in srgb, var(--color-primary) 15%, transparent) !important;
}

.drawer .package .anticon {
  color: var(--color-primary);
}

.table-user-pagination {
  background-color: transparent !important;
}

.drawer.drawer-invite form .ant-form-item-label label {
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.ant-switch-checked {
  background-color: var(--color-success) !important;
}

.ant-segmented-item-selected {
  color: var(--color-primary) !important;
}

/* .ant-avatar {
  background-color: var(--color-primary);
}
.ant-avatar-square {
}
.ant-avatar-icon {
} */

.ant-breadcrumb>ol {
  align-items: center;
}

.ant-tabs-top>.ant-tabs-nav::before {
  border-color: rgb(255, 255, 255, 0.05);
}